:root {
    --primary:rgb(0, 136, 75);
    --bg: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: rgb(16, 16, 16);
    /* min-height: 2000px; */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: 0.6s;
}

.navbar .navbar-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px rgba(16, 16, 16, 0.5);
}

.navbar .navbar-menu a {
    color: rgb(16, 16, 16);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.navbar .navbar-menu a:hover {
    color: var(--primary);
}

.navbar .navbar-menu a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-menu a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: rgb(16, 16, 16);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

.navbar.scrolled {
    padding: 0.5rem 7%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 25px rgb(16, 16, 16, 0.5);
}

.navbar.scrolled .navbar-logo {
    color: rgb(16, 16, 16);
    text-shadow: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('images/hero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg, rgba(225, 225, 225, 1) 1%, rgba(225, 225, 225, 0) 25%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(16, 16, 16, 0.5);
}

.hero .content h3 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(16, 16, 16, 0.5);
}

.hero .content p {
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(16, 16, 16, 0.5);
    font-weight: 300;;
}

.hero .cta a, .about .row .content a {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: white;
    background-color: var(--primary);
    border-radius: 0.5rem;
}


/* About Section */
.about {
    padding: 8rem 7% 4rem;
}

.about .row {
    display: flex;
}

.about .row .about-img img {
    width: 40rem;
}

.about .row .content {
    flex: 1 1 20rem;
    padding: 0 1rem;;
}

.about .row .content h2 {
    font-size: 2.6rem;
    margin-bottom: 0.8rem;
}

.about .row .content h3 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: var(--primary);
}

.about .row .content p {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8rem;
    text-align: justify;
}

.about .row .content .feather {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.product {
    padding: 4rem 7% 4rem;
    background-color: whitesmoke;
}

.product h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.product .cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.product .cards-container .card {
    width: 20rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 2px 2px 4px (rgba(16, 16, 16, 0.5));
    margin: 1rem;
}

.product .cards-container .card .card-content {
    padding: 1rem;
}

.product .cards-container .card .card-content img {
    width: 100%;
    height: auto;
}

.product .cards-container .card .card-content h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: var(--primary);
}

.product .cards-container .card .card-content p {
    margin-top: 0.5rem;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 1rem;
}

.product .cards-container .card .card-content a {
    color: rgba(16, 16, 16);
    position: relative;
    display: inline-block;
}

.product .cards-container .card .card-content .feather {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.product .cards-container .card .card-content a:hover {
    color: var(--primary);
}

.product .cards-container .card .card-content a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s;
}

.product .cards-container .card .card-content a:hover::after {
    transform: scaleX(1);
}

/* .product .cards-container .card .card-content a:hover {
    color: var(--primary);
} */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

}

/* Tab */
@media (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-menu {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        background-color: var(--bg);
    }
    
    .navbar .navbar-menu.active {
        right: 0;
    }

    .navbar .navbar-menu a {
        display: block;
        font-size: 1.5rem;
        margin: 1.5rem;
        padding: 0.5rem;
    }

    .navbar .navbar-menu a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-menu a:hover::after {
        transform: scaleX(0.2);
    }
    
    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 20rem;
        object-position: center;
        object-fit: cover;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
