:root {
    --primary:rgb(255, 208, 79);
    --bg: rgb(225, 225, 225);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: rgb(16, 16, 16);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
}